

.main_container {
  height: 99vh;
}

.friends_container {
  position: absolute;
  text-align: right;
  right: 20px;
  top: 1px;
  width: 20vw;
  overflow: hidden;
  max-width: 20vw;
  bottom: 40px;
  .tab {
    margin-top: 5px;
    clear: both;
    height: 30px;
    margin-bottom: -2px;
    .select {
      &:hover {
        color: orange;
        &.selected {
          color: black;
          cursor: default;
        }
      }
      &.left {
        float: left;
      }
      &.right {
        float: right;
      }
      &.selected {
        background-color: white;
        opacity: 1;
      }
      opacity: 0.4;
      min-width: 46.5%;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      flex-grow: 1;
      border: solid 1px black;
      border-bottom: none;
    }
  }
  .friends {
    border: solid 1px black;
    min-height: 85vh;
    .friend {
      display: flex;
      >div {
        height: 50px;
      }
      .addOrRemove {
        cursor: pointer;
        opacity: 0.5;
        &:hover {
          color: orange;
          opacity: 1;
        }
        font-weight: bold;
        font-size: 40px;
        line-height: 55px;
      }
      .name {
        font-size: 18px;
        flex-grow: 8;
        padding-left: 15px;
        line-height: 55px;
        text-align: left;
      }
      .distance {
        line-height: 60px;
        text-align: right;
        padding-right: 10px;
        flex-grow: 2;
        font-size: 16px;
      }
      border-bottom: solid 1px #cfcfcf;
    }
  }
}

.input_container {
  position: absolute;
  bottom: 2vh;
  height: 40px;
  left: 12px;
  right: 24vw;
  input {
    width: 100%;
    height: 30px;
    font-size: 18px;
  }
}

.chat_container {
  position: absolute;
  left: 5px;
  top: 1px;
  width: 75vw;
  height: 98vh;
  border: solid 1px black;
  .chatline {
    font-size: 20px;
    .name {
      font-weight: bold;
      color: navy;
      font-size: 24px;
    }
    .text {
      
    }
  }

}

