

.friends_container {
  position: absolute;
  text-align: right;
  right: 1vw;
  top: 1.5vh;
  height: auto;
  bottom: 1vh;
  left: 77vw;
  .tab {
    margin-top: 5px;
    clear: both;
    height: 30px;
		position: relative;
		bottom: -1px;
    .select {
      &:hover {
        color: orange;
        &.selected {
          color: black;
          cursor: default;
        }
      }
      &.left {
        float: left;
				background-color: #C5FEE6;
        &.selected {
					border-bottom-color: #C5FEE6;
				}
      }
      &.right {
        float: right;
				background-color: #D0F6FB;
        &.selected {
					border-bottom-color: #D0F6FB;
				}
      }
			&.selected {
				margin-top: -5px;
				padding-top: 5px;
				line-height: 30px;
				font-weight: bold;
			}
			transition-duration: 0.25s;
			position: relative;
			height: 30px;
      z-index: 2;
      min-width: 46.5%;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      flex-grow: 1;
      border: solid 1px black;
			border-bottom-color: none;
    }
  }
  .friends {
    width: 21.75vw;
    border: solid 1px black;
    overflow-y: scroll;
    padding-top: 1vh;
		&.all {
			background-color: #D0F6FB;
		}
		&.just_friends {
      background-color: #C5FEE6;
    }
    height: 90vh;
    max-height: 90vh;
    .friend {
      display: flex;
      height: 50px;
      >div {
        height: 50px;
      }
			.marker {
				font-size: 30px;
				padding-left: 10px;
				line-height: 65px;
				color: green;
			}
      .addOrRemove {
        cursor: pointer;
        opacity: 0.75;
        &:hover {
          color: orange;
          opacity: 1;
        }
        font-weight: bold;
        font-size: 40px;
        line-height: 55px;
      }
      .name {
        font-size: 18px;
        flex-grow: 8;
        padding-left: 15px;
        line-height: 55px;
        text-align: left;
      }
      .distance {
        line-height: 60px;
        text-align: right;
        padding-right: 10px;
        flex-grow: 2;
        font-size: 16px;
      }
      border-bottom: solid 1px #cfcfcf;
    }
  }
}

#render-target {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/test.png);
  background-position: -15vw;
  background-size: cover;
}

body {
  overflow: hidden;
}

.main_container {
  padding-bottom: 2vh;
  border: solid 1px black;
  position: absolute;
  left: 1vw;
  top: 2vh;
  width: 75vw;
  bottom: 2vh;
	background-color: rgba(255, 255, 255, 0.5);
  .input_container {
		background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    height: 5.5vh;
    left: 0.5vw;
    right: 1.25vw;
    input {
      width: 100%;
      height: 4vh;
      font-size: 18px;
    }
  }
  .chat_container {
    background-color: rgba(255, 255, 255, 0.75);
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0.5vw;
    padding-bottom: 4.5vh;
    bottom: 6.5vh;
    right: 0;
    .chatline {
      font-size: 20px;
      .name {
        font-weight: bold;
        color: navy;
        font-size: 24px;
      }
      .text {
        
      }
    }
  }
}

